.form__input-button {
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  margin: 0;
  /* margin-bottom: 37px; */
  cursor: pointer;
  transition: opacity 0.4s;
  color: white;
  font-family: inherit;
  background: #000000;
  border-radius: 2px;
}

/* .form__input-button:focus {
  outline: none;
} */
